.sign-in-button {
  text-align: center;
  border: 2px solid white;
  border-radius: 25px;
}
.navbar-menu-button-container {
  height: 50px;
  width: 100px;
  margin: 2px;
}
#menu-item {
  color: #4b4b4b;
  font-weight: 600;
}

/* @media (min-width: 959px) {
  .main-navbar {
    margin-bottom: 100px;
  }
} */
